html {
  height: 100%;
  background: #FFF4FC;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  
  font-size: 1.1em;
  font-family: basic-sans, sans-serif;
  color: black;

  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.View,
.View--center {
  display: flex;
  width: 100%;
  height: 100%;
}

.View--center {
  position: absolute;
  align-items: center;
}

.u-align--center {
  margin: 0 auto;
  text-align: center;
}

.u-align--right {
  margin-left: auto;
  text-align: right;
}

.u-align--spacebetween {
  display: flex;
  justify-content: space-between;
}

.u-align-items--center {
  display: flex;
  align-items: center;
}

.u-align-text--left {
  text-align: left;
}

a {
  color: black;
}

input,
textarea {
  font-family: basic-sans, sans-serif;
}

article {
  width: 90%;
  max-width: 450px;
  font-size: 1.3em;
}

.Button,
.Button--action {
  padding: 0;

  font-family: basic-sans, sans-serif;
  font-weight: 600;
  font-size: 0.9em;

  border: none;

  background: none;
  color: #0026A3;

  outline: none;
  cursor: pointer;
}

.Button[disabled] {
  opacity: 0.5;
  cursor: auto;
}

.Button--action {
  padding: 20px 30px;

  border: none;
  border-radius: 50px;

  font-size: 1em;
  font-weight: 700;
  background: #0026A3;
  color: white;

  -webkit-appearance: none;
}

.Button--action:active {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.25);
}

h1, .u-heading--1 {
  margin: 20px 0;

  font-family: 'Shrikhand', cursive;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.2em;
}

@media screen and (max-width: 750px) {
  h1, .u-heading--1 {
    font-size: 3em;
    line-height: 1em;
  }
}

h2,
h3,
h4,
h5,
h6,
.u-heading--2,
.u-heading--3,
.u-heading--4,
.u-heading--5,
.u-heading--6 {
  font-family: basic-sans, sans-serif;
}

h5, .u-heading--5 {
  font-size: 1.1em;
}

.u-padding--20 {
  padding: 20px;
}

.u-padding--40 {
  padding: 40px;
}

.u-margin--20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-margin--40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-margin--right--20 {
  margin-right: 20px;
}

.u-width--250 {
  width: 250px;
}

.u-width--rel--90 {
  width: 90%;
}

.u-color--red {
  color: #FD304D;
}

.u-emoji {
  display: inline-block;
  margin-top: -0.5em;
}

.u-circle {
  border-radius: 1000px;
}